@import '../../shared/style/theme.scss';

.pokedex-main {
  min-height: calc(100vh - 180px);
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;

  .all-pokemon-container {
    height: calc(100vh - 9rem);
  }

  .all-pokemon-table-wrapper {
    max-height: 100%;
  }
}
