.*
!.gitignore
!.sqlx
!.github

backend/target/
backend/**/*.rs.bk
add_pokemon_script/__pycache__/
create_pokedex_script/porydex_src/porydex/__pycache__/
create_pokedex_script/porydex_src/porydex/parse/__pycache__/
nginx/certs
nginx/logs
