services:
    app:
        build:
            context: ./frontend
        container_name: auction_app
        restart: always
        networks:
            - auction_net

    api:
        image: ./backend/
        container_name: auction_api
        restart: always
        networks:
            - auction_net

    nginx:
        image: nginx:1.29-trixie
        container_name: auction_nginx
        restart: always
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - app
        networks:
            - auction_net

    tunnel:
        image: cloudflare/cloudflared:latest
        container_name: auction_tunnel
        restart: always
        command: tunnel --url http://nginx:80
        # command: tunnel run
        # environment:
        #   - TUNNEL_TOKEN=${TUNNEL_TOKEN}
        networks:
          - auction_net

    db:
        image: postgres:18-trixie

networks:
    auction_net:
        driver: bridge
