services:
    # nginx + react
    frontend:
        image: ghcr.io/jpfrazz/blitz-auction-frontend:latest
        build: ./frontend/
        container_name: auction-frontend
        restart: always
        ports:
            - "80:80"
        depends_on:
            - backend
        networks:
            - auction_net

    # rust axum
    backend:
        image: ghcr.io/jpfrazz/blitz-auction-backend:latest
        build: ./backend/
        container_name: auction-backend
        restart: always
        depends_on:
            - db
        networks:
            - auction_net

    # cloudflare tunnel
    tunnel:
        image: cloudflare/cloudflared:latest
        container_name: auction-tunnel
        restart: always
        command: tunnel --url http://frontend:80
        # command: tunnel run
        # environment:
        #   - TUNNEL_TOKEN=${TUNNEL_TOKEN}
        networks:
            - auction_net

    # postgres db
    db:
        image: postgres:18-trixie
        container_name: auction-db
        restart: always
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=auction_db
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - auction_net

networks:
    auction_net:
        driver: bridge

volumes:
    db_data:
