[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = { version = "0.8.8", features = ["macros", "ws"] }
nanoid = "0.4.0"
tokio = { version = "1.49.0", features = ["macros", "rt-multi-thread"] }
