@import '../../../shared/style/theme.scss';

.auction-players-row {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 4px;
    margin: 0;
    background: $eb-surface;
    border: 1px solid black;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    scrollbar-color: #444 #222;
    scrollbar-width: thin;
}

.auction-players-row::-webkit-scrollbar {
    height: 4px;
}

.auction-players-row::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 6px;
}

.auction-players-row::-webkit-scrollbar-track {
    background: #222;
    border-radius: 6px;
}

.auction-player-box {
    padding: 6px 10px;
    border-radius: 4px;
    min-width: 4rem;
    min-height: 2rem;
    text-align: center;
    box-shadow: $eb-shadow;
    border: $eb-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 calc((100% - 84px) / 8);
    max-width: calc((100% - 84px) / 8);
    transition: min-width 0.2s;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
    font-size: 1.2rem;
    color: $eb-text-black;
}

.player-ready {
    background: $eb-primary;
}

.player-not-ready {
    background: $eb-primary-hover;
}

.player-zero-money {
    background: $eb-primary-hover;
}

.player-disconnected {
    background: #b71c1c !important;
    color: #fff !important;
    border: 2px solid #b71c1c !important;
    opacity: 0.85;
}

.highest-bidder {
    border: none;
    box-shadow: inset 0 0 0 3px $eb-primary-hover, $eb-shadow;
    &.player-ready {
        background: saturate(lighten($eb-primary, 10%), 25%);
    }
    &.player-not-ready {
        background: white;
    }
}

.auction-player-name {
    font-size: 1.2rem;
    margin-bottom: .4rem;
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.auction-player-icons {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.auction-player-icon {
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}